@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1400px;
}
@media (max-width: 1400px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", georgia, serif;
}

body {
  font-family: "Inter", helvetica, arial, sans-serif;
  font-size: 16px;
}

a {
  color: #069;
  text-decoration: none;
}

h2 {
  margin-bottom: 0.5em;
}

/* Viljum að myndir fylli út í foreldri sitt */
.image {
  width: 100%;
}

.image img {
  max-width: 100%;
}

/* Birting á dagstíma er alltaf eins */
time {
  color: #222;
  font-variation-settings: "wght" 300;
  padding-left: 22px;
  position: relative;
}

time::before {
  background-image: url("./images/clock.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 18px;
}

main {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column-end: 12;
  grid-column-start: 1;
  margin-bottom: 2rem;
  width: 100%;
}

header h1 {
  font-size: 3rem;
  font-variation-settings: "wght" 600;
}

.latest {
  grid-column-end: 13;
  grid-column-start: 1;
}
@media (min-width: 700px) {
  .latest {
    grid-column-end: 8;
  }
}
@media (min-width: 1000px) {
  .latest {
    grid-column-end: 10;
  }
}

.latest img {
  height: 10em;
  margin-bottom: 2em;
}
@media (min-width: 700px) {
  .latest img {
    height: 11em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1000px) {
  .latest img {
    grid-column-end: 13;
    grid-column-start: 1;
  }
}

.latest time {
  margin-top: 1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content section {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  margin-bottom: 1em;
}
@media (min-width: 1000px) {
  .content section {
    flex: 0 0 calc(33.3% - 15px);
  }
}

.content section img {
  order: 1;
}

.content section h3 {
  order: 2;
}

.content section p {
  flex: 1 0 0;
  order: 3;
}

.content section time {
  order: 4;
}

.most-read {
  grid-column-end: 13;
  grid-column-start: 1;
}
@media (min-width: 700px) {
  .most-read {
    grid-column-end: 13;
    grid-column-start: 8;
  }
}
@media (min-width: 1000px) {
  .most-read {
    grid-column-end: 13;
    grid-column-start: 10;
  }
}

.most-read li {
  margin-left: 0.5em;
}

.most-read h2 {
  margin-bottom: 0.5rem;
}

.most-read ol {
  padding-left: 20px;
}

.most-read ol li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.most-read ol li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ad {
  align-content: flex-end;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/spjall.jpg");
  background-position: center center;
  background-size: cover;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  grid-column-end: 13;
  grid-column-start: 1;
  height: 10em;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 700px) {
  .ad {
    height: 5em;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (min-width: 700px) {
  .ad p {
    margin-bottom: 1em;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .ad p {
    margin: 0;
    width: auto;
  }
}

.ad a {
  color: #222;
  font-family: "Inter", helvetica, arial, sans-serif;
  font-variation-settings: "wght" 700;
  margin-bottom: 1em;
  margin-top: 4em;
  text-decoration: underline;
}
@media (min-width: 700px) {
  .ad a {
    margin: 0;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  grid-column-end: 13;
  grid-column-start: 1;
  justify-content: space-between;
  margin-bottom: 2rem;
  row-gap: 3em;
}

.categories section {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .categories section {
    flex: 0 0 calc(50% - 15px);
  }
}
@media (min-width: 1000px) {
  .categories section {
    flex: 0 0 calc(25% - 15px);
  }
}

.categories li {
  flex-grow: 1;
}

.categories section li {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.categories li:first-of-type {
  display: flex;
  flex-direction: column;
}

.categories section:last-child {
  padding-right: 0;
}

.categories section h2 {
  font-size: 2rem;
}

.categories ul {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.categories section ul {
  border: 1px solid #ccc;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
}

.categories section li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.categories section li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.categories h3 {
  order: 2;
}

.categories section h3 {
  margin-bottom: 0.5rem;
}

.categories h3 a {
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  line-height: 1;
}

.categories img {
  height: 10em;
  margin-bottom: 0.5em;
  order: 1;
}
@media (min-width: 700px) {
  .categories img {
    height: 15em;
  }
}

.categories li:first-of-type img {
  order: 1;
}

.categories li:first-of-type h3 {
  order: 2;
}

.categories li:first-of-type time {
  order: 3;
}

/*# sourceMappingURL=styles.css.map */
