.ad {
	align-content: flex-end;
	background-color: rgba(255, 255, 255, 0.4);
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/spjall.jpg');
	background-position: center center;
	background-size: cover;
	color: $color-text;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5rem;
	grid-column-end: calc($columns + 1);
	grid-column-start: 1;
	height: 10em;
	justify-content: space-between;
	padding-bottom: $spacing;
	padding-left: calc($spacing * 2);
	padding-right: calc($spacing * 2);

	@media (min-width: 700px) {
		height: 5em;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.ad p {
	@media (min-width: 700px) {
		margin-bottom: 1em;
		width: 100%;
	}

	@media (min-width: 1000px) {
		margin: 0;
		width: auto;
	}
}

.ad a {
	color: $color-text;
	font-family: $font-family-base;
	font-variation-settings: 'wght' 700;
	margin-bottom: 1em;
	margin-top: 4em;
	text-decoration: underline;

	@media (min-width: 700px) {
		margin: 0;
	}
}
