.latest {
	grid-column-end: calc($columns + 1);
	grid-column-start: 1;

	@media (min-width: 700px) {
		grid-column-end: 8;
	}

	@media (min-width: 1000px) {
		grid-column-end: 10;
	}
}

.latest img {
	height: 10em;
	margin-bottom: 2em;

	@media (min-width: 700px) {
		height: 11em;
		margin-bottom: 1em;
	}

	@media (min-width: 1000px) {
		grid-column-end: calc($columns + 1);
		grid-column-start: 1;
	}
}

.latest time {
	margin-top: 1em;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content section {
	display: flex;
	flex: 0 0 100%;
	flex-direction: column;
	margin-bottom: 1em;

	@media (min-width: 1000px) {
		flex: 0 0 calc(33.3% - calc($gutter / 2));
	}
}

.content section img {
	order: 1;
}

.content section h3 {
	order: 2;
}

.content section p {
	flex: 1 0 0;
	order: 3;
}

.content section time {
	order: 4;
}
